{
	"presets": [
		"@babel/react",
		["@babel/env", {
      "targets": {
        "node": "10"
      }
    }]
	],
	"env": {
		"test": {
			"presets": [
				"@babel/react",
				["@babel/env", {
					"targets": {
						"node": "10"
					}
				}]
			],
			"plugins": [
				[
		      "css-modules-transform", {
            "generateScopedName": "[name]__[local]___[hash:base64:5]",
            "extensions": [".css"]
          }
		    ]
			]
		}
	}
}
